{% extends "base.html" %}
{% block title %}관련 문서 페이지{% endblock %}
{% block content %}
    <div class="container py-5 text-center">
        <h1 class="display-4 text-purple">질문: {{ question }}</h1>
        <div class="chat-container">
            <div class = "answer-container">
            {{ ai_answer }}
            </div>
            <h2 class="display-4 text-purple">관련 문서</h2>
            <div class="chat-box">
                {% for r in resource %}
                    <div class="chat-message assistant">
                        {{ r }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}